# Backend app
PORT=3001
NODE_ENV=development
JWT_SECRET=change-me
JWT_EXPIRES_IN=15m
FRONTEND_URL=http://localhost:8080

# Database (used by API and Postgres container)
DB_HOST=postgres
DB_PORT=5432
DB_USER=root
DB_PASS=teste
DB_NAME=teste
